* {
    margin: 0;
    overflow-x: hidden;
    text-align: justify;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: #1b1818;
    color: #ffffff;
    
}
#navbar-cache{
    display: none;
}
body a {
    text-decoration: none;
    color:red;
    
}
#btn-menu {
    display: none;
}
.header {
    background-color: #1b1818;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header {
    background: url(./images/moi_defense.jpg) no-repeat center top /cover;
    background-position: center 25%;
    height: 400px;
    object-fit: cover;
}
.header a {
    color: white;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
}
.header a:hover {
    background-color: rgb(255, 255, 255, 0.2);
    color:crimson;
}
.header-image {
    display: none;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-titel {
    text-align: center;
    padding-top: 20px;
}
.header-nav {
    text-align: center;
    margin-top: 200px;
    padding-bottom: 10px;
}
.main {
    background-color:#081b29;
}
.etudes-titel {
    padding-left: 20px;
    padding-bottom: 20px;
}
.etudes {
    background-color: rgb(66, 56, 56);
    max-width:500px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    line-height: 25px;
    color: #fff;
}
.police {
    text-align: justify;
    max-width: 1300px;
    line-height: 23px;
    padding-right: 10px;
}
.apropos {
    font-size: 30px;
    padding-left: 20px;
}
.police {
    margin-left: auto;
    margin-right: auto;
    
}

#Apropos {
    padding-top: 20px;
    padding-bottom: 20px;
    color:cornflowerblue;
    text-align: center;
}
#titel2 {
    color: cornflowerblue;
    padding-bottom: 20px;
    padding-top: 20px;
}
#images {
    display: flex;
    background-color: red;
}
.images {
    display: flex;
    flex-wrap: wrap; 
    margin-left: 20px;
}
#photos {
    padding-left: 20px;
}
footer {
    background-color: #1b1818;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
footer i {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
/* Contact */

#main-contact-title {
    color: #3b82f6;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
#main-contact-header p {
    color: #cbd5e1;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 20px;
}
#card {
    background-color: #1e293b;
    max-width:1315px ;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding-bottom: 10px;
}
#card-body p {
    text-align: center;
    padding-top: 10px;
    color: #cbd5e1;
    font-size: 16px;
    line-height: 1.6;
}
#card-header img :hover {
    transform: scale(1.1);
}
#card a {
    color: #3b82f6;
    text-decoration: none;
}
#card a:hover {
    transform: scale(1.1);
}#card2 a {
    color: #3b82f6;
    text-decoration: none;
}
#card2 a:hover {
    transform: scale(1.1);
}
#card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    padding-top: 10px;
}
#card-header i {
    margin-left: 5px;
    color: #3b82f6;
}
#card-title {
    color: #ffffff;
    font-size: 18px;
}
#card2 {
    background-color: #1e293b;
    max-width:1315px ;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#note {
    color: #ffffff;
    padding-left: 20px;
}
#note2 {
    color: #cbd5e1;
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.7;
}
#card-header2 {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 18px;
    
}
#card-header2 a i {
    color: rgb(255, 0, 187);
}
#card-header2 img {
    width: 30px;
    margin-left: 20px;
    color: #3b82f6;
}
#card-title2 {
    color: #ffffff;
    font-size: 15px;
}
#card-header2 a img:hover {
    transform: scale(1.1);
}
#display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:500px) {
    #display {
        flex-direction: column;
        padding-left: 135px;
        padding-right: 135px;
    }
}
@media (max-width:384px) {
    #display {
        flex-direction: column;
        padding-left:90px;
        padding-right: 90px;
       
    }
}
/* responsive */
@media (max-width:800px) {
    .header {
    background: url(./images/moi_defense2.jpg) no-repeat center center/cover;
    height: 300px;
    object-fit: cover;
}
    .header-nav {
        display: none;
    }
    body {
        font-size: 16px;
    }
    .header {
       padding-top: 20px; 
       padding-bottom: 20px;
    }
    .header-image {
      margin-left: 30.5% ;
    }
    .header-titel {
        color: red;
        font-size: 20px;
        text-align: justify;
        padding-bottom: 10px;
    }
    .header-nav a {
        padding-left: 20px;
        padding-right: 20px;
        color: blue;
    }
    .photos {
        display:flex;
        flex-direction: row;
        padding-left: 20px;
    }   
}
@media (max-width:540px) {
    body {
        background-color:  #1b1818;
        color: #ffffff;
        font-size: 14px;
        position: relative;
    }
    .header-image {
        margin-left: 25%;
    }
    .header-nav {
        display: none;
    }
    .header-titel {
        display: none;

    }
    .etudes {
        background-color: rgb(66, 56, 56);
        max-width:600px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
        margin-left: 20px;
        padding-left: 20px;
        padding-top: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
        line-height: 25px;
        color:cadetblue;
        text-align: justify;
    }
    #Etudes {
        padding-top: 10px;
        padding-bottom: 10px;
        color: darkgoldenrod;
    }
    
    .police {
        text-align: justify;
        max-width: 500px;
        line-height: 22px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .main{
        background-color: #000000;
    }
    #photos {
        padding-bottom: 10px;
    }
    .titel {
        margin-top:20px;
        margin-bottom: 20px;

    }
    .logo {
        border-radius: 50%;
    }
}