
#Apropos {
    padding-top: 20px;
    padding-bottom: 20px;
    color:cornflowerblue;
    text-align: center;
}
#titel2 {
    color: cornflowerblue;
    padding-bottom: 20px;
}
#images {
    display: flex;
    background-color: red;
}